# -------------------------
# Sensitive files NOT committed
# -------------------------
encrypted_seed.txt

# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Environment files
# -------------------------
.env

# -------------------------
# IDE/Editor files
# -------------------------
.vscode/
.idea/

# -------------------------
# Build Artifacts / OS files
# -------------------------
*.log
*.tmp
.DS_Store
